.flower__subscriptions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    .bottom {
        display: flex;

        .left {
            display: flex;
            img {
                max-width: 49.35vw;
                object-fit: cover;
            }
        }

        .grid__section{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2rem;
            width: fit-content;
            
            span {
                text-transform: uppercase;
            }
        }
    }
}