.hero__banner {
    position: relative;

    .left {
        padding-top: 5vw;
        padding-right: 4.5vw;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        .top {
            padding-bottom: 1.4rem;
            border-bottom: 1px solid var(--color-black);
            :nth-child(2) {
                ::after {
                    content: 'R';
                    font-size: 1.5rem;
                    position: absolute;
                    top: 10px;
                    border: 2px solid var(--color-black);
                    padding: .15rem .6rem;
                    border-radius: 50%;
                    margin-left: .3rem;
                }
            }
            h1 {
                font-size: 4.5rem;
                font-weight: 500;
                margin-bottom: .5rem;
                opacity: 1; 
                transform:translate3d(0px, 0vw, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                transform-style: preserve-3d;
            }

            p {
                margin-bottom: .9rem;
                max-width: 30rem;
            }
        }
        .bottom {
            display: flex;
            align-items: flex-end;

            img {
                max-height: 12rem;
                width: 35rem;
                object-fit: cover;
                filter: brightness(0.7);
                border-right: 1px solid var(--color-black);
                margin-right: 1.4rem;
                padding-right: 1.4rem;

            }

            p {
                font-size: .9rem;
                max-width: 20rem;
            }
        }
    }
}